body {
    background-color: $secondaryColor;
}
#content-container {
    @include flexCenter(column);
}

#content {
    @include flexCenter(column);

    border: 3px;
    border-color: $primaryColor;
    border-style: double;
    width: 80vw;
    padding: 1vw;
}
