.Home {
    text-align: center;
}

.Home-div {
    background-color: #2f2f2f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #d1d5de;
}

.Home-link {
    color: #009180;
}
